# ===============================
# Qt / Qt Creator
# ===============================
build*/
!build_script/
!build_script/**
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
.qtcreator/

# ===============================
# MSVC / Windows
# ===============================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.obj
*.ilk
*.pdb
*.idb
*.tlog
*.pch
*.tmp
*.log

# ===============================
# Logs
# ===============================
*.log
*.trace
*.stackdump

# ===============================
# Archives / Backups
# ===============================
*.7z
*.zip
*.rar
*.sha256
